{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Eclipse</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur sapiente voluptatem repellendus nihil assumenda numquam, animi non, iusto perspiciatis ipsam, autem odio eum. Sequi sapiente reprehenderit rerum labore ratione?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/eclipse.jpg" alt="" class="img-thumbnail mx-auto" style="width: 70%;">
    </div>
</div>
{{>footer}}